<!DOCTYPE html>
<html>
  <head>
    <title>Saasapp</title>
    <%= csrf_meta_tags %>
    <!-- Remove https:// from embedded font below for more flexibility, in case the website doesn´t get a SSL certificate -->
    <link href="//fonts.googleapis.com/css?family=Maven+Pro:400,900" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- yeld is where Rails pulls in the code from the other views files -->
    <%= yield %>
  </body>
</html>
